<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="HomeLyf">

	<listeners>
		<listener class-name="HomeLyf.Utilities.ExtentReport" />
	</listeners>

	<test thread-count="5" name="HomeLyfTest">

		<classes>
			<!-- <class name="HomeLyf.test.User" /> -->
			<class name="HomeLyf.test.QDTAS_LoginTestCase" />
			<!-- <class name="HomeLyf.test.Partner" /> -->
		</classes>
	</test> <!--
	HomeLyfTest -->
</suite> <!--
HomeLyf -->
